@{
    ViewData["Title"] = "Welcome to Saree Store Latest";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <img src="~/images/product.jpeg" class="img-fluid" alt="@ViewData["Title"]" />

    </div>

</div>